@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(216, 209, 194);
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.contraplex-logo {
    padding: 20px;
    font-family: 'Belanosima', sans-serif;
    text-decoration: none;
    font-weight:550;
    color: #191970;
    font-size: 50px;
    display: inline-block;
}

#plex {
    color: #ac8539;
}

#contraplex1 {
    font-family: 'Belanosima', sans-serif;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    color: #191970;
    font-size: 20px;
    transition: 500ms;
}

#contraplex2 {
    font-family: 'Belanosima', sans-serif;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    color: #ac8539;
    font-size: 20px;
    transition: 500ms;
}

#contraplex1:hover {
    color:#ac8539;
    transition: 0.7s;
}

#contraplex2:hover {
    color: #191970;
    transition: 0.7s;
}

hr {
    border: 1px solid ;
}

.section1 {
    padding: 70px;
    margin-left: 50px;
    width: 50%;
}

.cama-colchao {
    display: flex;
    border-radius: 50px;
    width: 60%;
    height: 60%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

.buy {
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
    /* margin-left: auto;
    margin-right: auto; */
    padding: 10px;
    cursor:pointer;
    background-color: #45a545;
    transition: 500ms;
    margin-top: 70px;
}

.buy:hover {
    background-color:rgb(16, 146, 16);
}

.mb {
    font-weight: bold;
    display: flex; 
    font-size: 70px; 
    transition: 500ms;
    width: 80%;
    /* transition:  ease-out 1000ms; */
}

.p_section1 {
    font-size: 20px;
}

.h2_section1 {
    margin-top: 30px;
    width: 70%;
    color: #0b1320;
}

.container_1 img {
    width: 20%;
}
